@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&display=swap');

@tailwind utilities;
@import 'tailwindcss';

@layer base {
    :root {
        @apply dark:text-[#ffffffde] text-[#1a1717de] dark:bg-[#242424] bg-[#d1d1d1] font-sans;
    }

    body {
        @apply grid place-items-center min-w-[320px] min-h-screen relative m-0 leading-none;
    }
}

@theme {
    --color-blue: #6f9de2;
    --color-purple: #9871f3;

    --color-danger: #f05d6c;

    --color-gray-100: #dae4f2;
    --color-gray-200: #c8d0da;
    --color-gray-300: #95a1b1;
    --color-gray-400: #6f7d90;
    --color-gray-500: #2a313c;
    --color-gray-600: #21252c;
    --color-gray-700: #191d24;
    --color-gray-800: #13161b;
    --color-gray-900: #0f1216;

    --font-heading: [ 'Oxanium', sans-serif];
    --font-sans: [ 'Montserrat', sans-serif];

    --radius-xl: 0.625rem;
}
